$mainColor: #2eabe5;
$fontMain: "Montserrat", sans-serif;
$blackColor: #000;
$whiteColor: #fff;
$opacityBefore: 0.8;
$opacityAfter: 1;

$colors: (
  first: #1b1b1b,
  second: #3d3d3d,
  third: #f8f8f8,
);

$socialColors: (
  facebook: #170e95,
  twitter: $mainColor,
  instagram: #ffa500,
  youtube: #ff0000,
);
